<div class="col-md-4 hike-sidebar">
  <div class="hike-image" style="background-image: url('<%= @hike.img_src %>');"></div>
  <h1><%= @hike.name %></h1>
  <hr>
  <p class="hike-details">Current Weather: <span class="stats"><%= @current_weather %></span></p>
  <hr>
  <p class="hike-details">Region: <span class="stats"><%= @hike.region %></span></p>
  <hr>
  <p class="hike-details">Difficulty: <span class="stats"><%= @hike.difficulty %></span></p>
  <hr>
  <p class="hike-details">Distance: <span class="stats"><%= @hike.distance %> miles</span></p>
  <hr>
  <p class="hike-details">Elevation: <span class="stats"><%= @hike.elevation %> feet</span></p>
  <hr>
</div>
<div class="col-md-8 hike-main">
  <div class="hike-section disable-link">
    <h1>About <%= @hike.name %></h1>
    <p>
     <%= @hike.description %>
    </p>
  </div>
  <div class="hike-section">
    <h1>4 Day Forecast</h1>
    <div id="forecast">
      <% @forecast.each do |t| %>
        <h3 class="day"><%= t[0] %></h3>
        <p><%= t[1] %></p>
      <% end %>
    </div>
  </div>
  <div class="hike-section">
    <h1>Features</h1>
    <!-- <p>Waterfall, Racoons, Table Service, Snakes, Wildflowers, Ponderosa Pines.</p> -->
    <% @hike.features.each do |feature| %>
      <a href="/features/<%= feature.id %>"><div class="feature"><p><%= feature.name %></p></div></a>
    <% end %>
  </div>
  <div class="hike-section" id="map">
    <script>
      function initMap() {
        var uluru = {lat: <%= @hike.latitude %>, lng: <%= @hike.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcjEk5jS3E7WYPLMJp9OqgwoXt9VK4u1A&callback=initMap">
    </script>
  </div>
</div>
